torch
tensorflow 
transformers 
datasets 
streamlit 
gradio
kaggle
llama-index-embeddings-openai
langchain
langchain-community
einops
sentence_transformers
llama-index-llms-openai
pymilvus
openai
requests
tqdm
grpcio==1.60.0
llama_index.vector_stores.qdrant
llama_index.core
llama-index-vector-stores-chroma