torch
tensorflow 
transformers 
streamlit 
gradio
dotenv
kaggle
llama-index-embeddings-openai
langchain
langchain-community
einops
sentence_transformers
llama-index-embeddings-itrex
intel-extension-for-transformers 
accelerate 
onnx
llama-index-llms-openai